IndexIgnore *
php_value display_errors 1

Redirect 301 /twitter https://twitter.com/AkumaExpress
Redirect 301 /facebook https://www.facebook.com/akumaphp
Redirect 301 /discord https://discord.com/users/784717543549173811


php_flag output_buffering on

RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.php [NC,L]
